name: Build and Release
permissions:
  contents: read
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        include:
          - os: windows-latest
            runtime: win-x64
            extension: .exe
            os_name: Windows
          - os: ubuntu-latest
            runtime: linux-x64
            extension: ""
            os_name: Linux
          - os: macos-latest
            runtime: osx-x64
            extension: ""
            os_name: Mac
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build
      run: dotnet build --no-restore --configuration Release
    
    - name: Publish
      run: |
        dotnet publish --configuration Release --runtime ${{ matrix.runtime }} --self-contained true --output ./build -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true
    
    - name: Create Archive (Windows)
      if: matrix.os == 'windows-latest'
      shell: powershell
      run: |
        Compress-Archive -Path ./build/* -DestinationPath ${{ matrix.os_name }}.zip
    
    - name: Create Archive (Linux/macOS)  
      if: matrix.os != 'windows-latest'
      run: |
        cd build && zip -r ../${{ matrix.os_name }}.zip .
    
    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.os_name }}
        path: ./${{ matrix.os_name }}.zip
